<header class="header">
	<ul class="header-subnav">
		<li><a href="/backoffice#/schedule">Schedule</a></li>
		<!-- class="is-active"  -->
		<li><a href="/backoffice#/fleet">Fleet</a></li>
		<li><a href="/backoffice#/flights">Active flights</a></li>
		<li><a ng-click="notImplemented()">History</a></li>
		<li><a href="/backoffice#/crew">Crew database</a></li>
		<li><a ng-click="notImplemented()">System logs</a></li>
	</ul>
</header>

<div class="row main-content-holder">
	<h4>Overview panel</h4>
	<div class="large-12 columns">
		<hr>
		<div class="large-4 columns">
			<div class="panel">
				<h5>Scheduled routes</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
		<div class="large-4 columns">
			<div class="panel">
				<h5>Fleet size</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
		<div class="large-4 columns">
			<div class="panel">
				<h5>Active routes</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
	</div>
	<div class="large-12 columns">
		<div class="large-4 columns">
			<div class="panel">
				<h5>Flight crew</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
		<div class="large-4 columns">
			<div class="panel">
				<h5>Cabin crew</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
		<div class="large-4 columns">
			<div class="panel">
				<h5>Documents uploaded</h5>
				<div class="text-center">
					<p class="overview-card-value">25</p>
				</div>
			</div>
		</div>
		<div class="large-1 columns"></div>
	</div>
</div>

	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>&copy; Copyright Sasa Radovanovic 2016.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Crew management operations</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>