<script type="text/ng-template" id="errorModal.html">
    <h3>Entered data validation error</h3>
    <div class="panel">
		<p>
			{{msg}}
		</p>
	</div>
    <button class="button secondary" ng-click="closeModal()">OK</button>
</script>

<script type="text/ng-template" id="deleteFlightModal.html">
    <h3>Entered data validation error</h3>
    <div class="panel">
		<p>
			{{msg}}
		</p>
	</div>
	<button class="button alert" ng-click="confirmDelete()">Delete</button>
    <button class="button secondary" ng-click="closeModal()">Cancel</button>
</script>

<script type="text/ng-template" id="newScheduledFlight.html">
    <h3>Entered data validation error</h3>
    <div class="panel">
		<p>
			{{msg}}
		</p>
		</hr>
	</div>
	<button class="button" ng-click="confirmCreate()">Confirm</button>
    <button class="button secondary" ng-click="closeModal()">Cancel</button>
</script>


<header class="header">
	<ul class="header-subnav">
		<li><a class="is-active">Schedule</a></li>
		<!-- class="is-active"  -->
		<li><a href="/backoffice#/fleet">Fleet</a></li>
		<li><a href="#">Active flights</a></li>
		<li><a href="#">History</a></li>
		<li><a href="/backoffice#/crew">Crew database</a></li>
		<li><a href="#">System logs</a></li>
		<li><a ng-click="logout()">Logout</a></li>
	</ul>
</header>


<div class="row main-content-holder">
	<h4>Schedule</h4>
	<div class="large-12 columns">
			<hr>
			  <alert type="success" ng-show="showTip"><strong>[TIP] What is this and how it works?</strong></br> 
			  This page enables you to save your up-to-date schedule by weekly days.
			   You can then use inputs from schedule to create active flight more quickly and easier.
			   <a ng-click="closeTip()" class="close">&times;</a>
			  </alert>
			<accordion close-others="false"> 
				<accordion-group
					heading="Add new scheduled flight" class="add-new-scheduled-heading" is-open="true">
					<div class="row new-scheduled-flight-form-holder">
						<div class="large-12 columns new-scheduled-flight-form">
							<form>
							  <div class="row">
							    <div class="large-12 columns">
							      <label>Common name [human-readable identifier, flight number, etc...]
							        <input type="text" placeholder="Name" ng-model="scheduledRouteObject.name"/>
							      </label>
							    </div>
							  </div>
							  <div class="row">
							  		<div class="large-6 columns">
							  			<label>Departure airport [IATA code]
									        <input type="text" maxlength="3" class="airport-input" ng-model="scheduledRouteObject.departure"/>
									     </label>
								  	</div>
								  	<div class="large-6 columns">
								  		<label>Arrival airport [IATA code]
									        <input type="text" maxlength="3" class="airport-input" ng-model="scheduledRouteObject.arrival"/>
									     </label>
								  	</div>
							  </div>
							  <div class="row">
							    <div class="large-4 columns">
							      <label>Local departure time
							        <input type="text" ng-model="scheduledRouteObject.localDepartureTime" placeholder="hh:mm" />
							        <!-- <input type="text" class="span2" value="12:05" id="dpt">
										<script>
										$(function(){
										  $('#dpt').fdatepicker({
												format: 'hh:ii',
												disableDblClickSelection: true,
												language: 'en',
												pickTime: true
											});
										});
										</script>
										 -->
							      </label>
							    </div>
							    <div class="large-4 columns">
							      <label>Local arrival time
							        <input type="text" placeholder="hh:mm" ng-model="scheduledRouteObject.localArrivalTime"/>
							      </label>
							    </div>
							    <div class="large-4 columns">
							      <div class="row collapse">
							        <label>Flight length [h]</label>
							        <div class="small-9 columns">
							          <input type='number' step='0.25' min='0.25' placeholder="i.e. 10.5" ng-model="scheduledRouteObject.length"/>
							        </div>
							        <div class="small-3 columns">
							          <span class="postfix">H</span>
							        </div>
							      </div>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-9 columns">
							      <label>Select Box
							        <select ng-model="airplaneTypeSelect"   
							        ng-options="i as (i.manufacturer + ' ' + i.type) for i in airplaneTypes"
							        ng-change="changeIt(airplaneTypeSelect)">
							        </select>
							      </label>
							    </div>
							    <div class="large-3 columns">
							    	<p>
								      <button popover="If there is no airplane type in the list, please visit 'Fleet' page and add it to the system." popover-trigger="mouseenter" class="button airplane-type-hint">No type in the list?</button>
								    </p>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <label>Operation days</label>
							      <input ng-model="daysOfTheWeekObj['monday']" type="checkbox"><label>Monday</label>
							      <input ng-model="daysOfTheWeekObj['tuesday']" type="checkbox"><label>Tuesday</label>
							      <input ng-model="daysOfTheWeekObj['wednesday']" type="checkbox"><label>Wednesday</label>
							      <input ng-model="daysOfTheWeekObj['thursday']" type="checkbox"><label>Thursday</label>
							      <input ng-model="daysOfTheWeekObj['friday']" type="checkbox"><label>Friday</label>
							      <input ng-model="daysOfTheWeekObj['saturday']" type="checkbox"><label>Saturday</label>
							      <input ng-model="daysOfTheWeekObj['sunday']" type="checkbox"><label>Sunday</label>
							    </div>
							  </div>
							  <div class="row">
							    <div class="large-12 columns">
							      <button class="button add-scheduled-form-buttom" type="submit" ng-click="addNewScheduledFlight()">Add new scheduled flight</button>
							    </div>
							  </div>
							</form>
						</div>
					</div>
				</accordion-group>
				<accordion-group
				heading="(1) Monday" is-open="false">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['1'].length == 0">
					  No scheduled flights on monday.
					</div>
					<table ng-show="scheduledFlights['1'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['1'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group> 
				<accordion-group
						heading="(2) Tuesday">
			        <div data-alert class="alert-box warning" ng-show="scheduledFlights['2'].length == 0">
					  No scheduled flights on tuesday.
					</div>
					<table ng-show="scheduledFlights['2'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['2'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
			    </accordion-group> 
			    <accordion-group heading="(3) Wednesday">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['3'].length == 0">
					  No scheduled flights on wednesday.
					</div>
					<table ng-show="scheduledFlights['3'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['3'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group> 
				<accordion-group heading="(4) Thursday">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['4'].length == 0">
					  No scheduled flights on thursday.
					</div>
					<table ng-show="scheduledFlights['4'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['4'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group>  
				<accordion-group heading="(5) Friday">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['5'].length == 0">
					  No scheduled flights on friday.
					</div>
					<table ng-show="scheduledFlights['5'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['5'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group> 
				<accordion-group heading="(6) Saturday">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['6'].length == 0">
					  No scheduled flights on saturday.
					</div>
					<table ng-show="scheduledFlights['6'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['6'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group>  
				<accordion-group heading="(7) Sunday">
					<div data-alert class="alert-box warning" ng-show="scheduledFlights['7'].length == 0">
					  No scheduled flights on sunday.
					</div>
					<table ng-show="scheduledFlights['7'].length > 0">
					  <thead>
					    <tr>
					      <th width="200">Departure-Arrival Time</th>
					      <th width="400">Common name</th>
					      <th width="100">Departure</th>
					      <th width="100">Arrival</th>
					      <th width="100">Length [h]</th>
					      <th width="200">Aircraft</th>
					      <th width="100"></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="flight in scheduledFlights['7'] | orderBy:'localDepartureTime'">
							<td>{{flight.localDepartureTime}} - {{flight.localArrivalTime}}</td>
							<td>{{flight.name}}</td>
							<td>{{flight.departure}}</td>
							<td>{{flight.arrival}}</td>
							<td>{{flight.length}}</td>
							<td>{{flight.airplaneType.manufacturer}} {{flight.airplaneType.type}}</td>
							<td><button class="button alert" ng-click="deleteScheduledFlight(flight.id)"><i class="fi-x"></i>Remove</button></td>
					    </tr>
					  </tbody>
					</table>
				</accordion-group> 
			</accordion>
	
	</div>
</div>



<footer class="row">
	<div class="large-12 columns">
		<hr />
		<div class="row">
			<div class="large-6 columns">
				<p>&copy; Copyright Sasa Radovanovic 2016.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="#">Flight operations</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>