
	<div class="row">
		<div class="large-3 columns">
			<h1>
				<img src="img/airline-logo.png" />
			</h1>
		</div>
		<div class="large-3 columns text-center system-name-holder">
			<p>
				crew management system
			</p>
		</div>
		<div class="large-6 columns">
			<ul class="right button-group">
				<li><a href="#" class="button">Layover guides</a></li>
				<li><a href="#/login" class="button">Login</a></li>
			</ul>
		</div>
	</div>


	<div class="row">
		<div class="large-12 columns">
		  <h4 class="header-position">Be the excellence...</h4>
		  <img src="img/large-image-home.jpg">
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h4>Be up-to date with all obligations...</h4>
				<div class="row">
					<div class="large-9 columns">
						<p>Check out on education and certification schedules. </p>
					</div>
					<div class="large-3 columns">
						<a href="#" class="radius button right">Schedules</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>&copy; Copyright Sasa Radovanovic 2016.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Airline website</a></li>
						<li><a href="#">HR</a></li>
						<li><a href="#">Crew management operations</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	
